qwc-qgis-server:2.18.28
jasper-reporting-service:0.6.0
qwc-fulltext-search-service:v2.0.0-rc1
qwc-data-service:v2.0.0-rc1
sogis-dataproduct-service:v2.0.0-rc1
qwc-ogc-service:v2.0.0-rc1
qwc-legend-service:v2.0.0-rc1
qwc-feature-info-service:v2.0.0-rc1
qwc-mapinfo-service:v2.0.0-rc1
sogis-plotinfo-service:v2.0.0-rc1
qwc-permalink-service:v2.0.0-rc1
qwc-elevation-service:v2.0.0-rc1
qwc-document-service:v2.0.0-rc1
qwc-print-service:v2.0.0-rc1
sogis-landreg-service:v2.0.0-rc1
sogis-ccc-config:v2.0.0-rc1
sogis-auth-service:v3.0.0-rc1
sogis-map-viewer:v2.0.0-rc1
sogis-agdi:v3.0.0-rc1
sogis-config-generator:v3.0.0-rc1
